<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>demo_back</display-name>

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!--   <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener> -->

  <!-- 初始化Spring context和SpringBeanProxy -->
  <listener>
    <description>Used to initialize Spring context and set SpringBeanProxy.</description>
    <listener-class>com.lvmama.vst.demo.common.spring.SuperContextLoaderListener</listener-class>
  </listener>

  <!-- 初始化任务调度 -->
  <listener>
    <description>初始化任务调度</description>
    <listener-class>com.lvmama.vst.demo.listener.ScheduleJobListener</listener-class>
  </listener>

  <!-- 加载主spring配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext-vst-rest-beans.xml</param-value>
  </context-param>

  <!-- 配置springmvc context -->
  <servlet>
    <servlet-name>demo_back</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:springMvc-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- 配置调用hessian时使用 -->
  <servlet>
    <servlet-name>service</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/remoting/*</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
        <servlet-name>demo_back</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/index.do</welcome-file>
    </welcome-file-list>

</web-app>